@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align: center;">Leitor TXT</h1>

<div class="fundo">
    <div class="estrutura">
        
        <input id="resultado" type="file" />
        <table>
            <tr>
                <td><button type="button" id="Btn_Enviar" class="btn btn-success" style="color: black;">Consultar Txt</button></td>
            </tr>
        </table>
    </div>

</div>